$tokens: (
    background: #ffffff,
    background-hover: #8d8d8d1f,
    background-active: #8d8d8d80,
    background-selected: #8d8d8d33,
    background-selected-hover: #8d8d8d52,
    background-inverse: #393939,
    background-inverse-hover: #474747,
    background-brand: #0f62fe,
    layer-01: #f4f4f4,
    layer-02: #ffffff,
    layer-03: #f4f4f4,
    layer-hover-01: #e8e8e8,
    layer-hover-02: #e8e8e8,
    layer-hover-03: #e8e8e8,
    layer-active-01: #c6c6c6,
    layer-active-02: #c6c6c6,
    layer-active-03: #c6c6c6,
    layer-selected-01: #e0e0e0,
    layer-selected-02: #e0e0e0,
    layer-selected-03: #e0e0e0,
    layer-selected-hover-01: #d1d1d1,
    layer-selected-hover-02: #d1d1d1,
    layer-selected-hover-03: #d1d1d1,
    layer-selected-inverse: #161616,
    layer-selected-disabled: #8d8d8d,
    layer-accent-01: #e0e0e0,
    layer-accent-02: #e0e0e0,
    layer-accent-03: #e0e0e0,
    layer-accent-hover-01: #d1d1d1,
    layer-accent-hover-02: #d1d1d1,
    layer-accent-hover-03: #d1d1d1,
    layer-accent-active-01: #a8a8a8,
    layer-accent-active-02: #a8a8a8,
    layer-accent-active-03: #a8a8a8,
    field-01: #f4f4f4,
    field-02: #ffffff,
    field-03: #f4f4f4,
    field-hover-01: #e8e8e8,
    field-hover-02: #e8e8e8,
    field-hover-03: #e8e8e8,
    border-subtle-00: #e0e0e0,
    border-subtle-01: #c6c6c6,
    border-subtle-02: #e0e0e0,
    border-subtle-03: #c6c6c6,
    border-subtle-selected-01: #c6c6c6,
    border-subtle-selected-02: #c6c6c6,
    border-subtle-selected-03: #c6c6c6,
    border-strong-01: #8d8d8d,
    border-strong-02: #8d8d8d,
    border-strong-03: #8d8d8d,
    border-tile-01: #c6c6c6,
    border-tile-02: #a8a8a8,
    border-tile-03: #c6c6c6,
    border-inverse: #161616,
    border-disabled: #c6c6c6,
    border-interactive: #0f62fe,
    text-primary: #161616,
    text-secondary: #525252,
    text-placeholder: #a8a8a8,
    text-on-color: #ffffff,
    text-on-color-disabled: #8d8d8d,
    text-helper: #6f6f6f,
    text-error: #da1e28,
    text-inverse: #ffffff,
    text-disabled: #16161640,
    link-primary: #0f62fe,
    link-primary-hover: #0043ce,
    link-secondary: #0043ce,
    link-inverse: #78a9ff,
    link-visted: #8a3ffc,
    icon-primary: #161616,
    icon-secondary: #525252,
    icon-on-color: #ffffff,
    icon-on-color-disabled: #8d8d8d,
    icon-interactive: #0f62fe,
    icon-inverse: #ffffff,
    icon-disabled: #16161640,
    support-error: #da1e28,
    support-success: #24a148,
    support-warning: #f1c21b,
    support-info: #0043ce,
    support-caution-major: #ff832b,
    support-caution-minor: #f1c21b,
    support-undefined: #8a3ffc,
    button-primary: #fa0c0c,
    button-primary-hover: #0050e6,
    button-primary-active: #002d9c,
    button-secondary: #393939,
    button-secondary-hover: #474747,
    button-secondary-active: #6f6f6f,
    button-tertiary: #0f62fe,
    button-tertiary-hover: #0050e6,
    button-tertiary-active: #002d9c,
    button-danger-primary: #da1e28,
    button-danger-secondary: #da1e28,
    button-danger-hover: #b81922,
    button-danger-active: #750e13,
    button-separator: #e0e0e0,
    button-disabled: #c6c6c6,
    support-error-inverse: #fa4d56,
    support-success-inverse: #42be65,
    support-warning-inverse: #f1c21b,
    support-info-inverse: #4589ff,
    focus: #0f62fe,
    focus-inset: #ffffff,
    focus-inverse: #ffffff,
    skeleton-element: #c6c6c6,
    skeleton-background: #e8e8e8,
    highlight: #d0e2ff,
    interactive: #0f62fe,
    overlay: #16161680,
    toggle-off: #eeeeee,
    notification-info-background: #edf5ff,
    support-info border: #0043ce4d,
    notification-success-background: #defbe6,
    support-success border: #24a1484d,
    notification-error-background: #fff1f1,
    support-error border: #da1e284d,
    notification-warning-background: #fcf4d6,
    support-warning border: #f1c21b4d,
    notification-action-hover: #ffffff,
    notification-action-tertiary-inverse: #ffffff,
    notification-action-tertiary-inverse-text: #121619,
    notification-action-tertiary-inverse-hover: #ffffff,
)