$tokens: () !default;
$default: (
  button-danger-active: #750e13,
  button-danger-hover: #b81921,
  button-danger-primary: #da1e28,
  button-danger-secondary: #da1e28,
  button-disabled: #c6c6c6,
  button-primary: #0f62fe,
  button-primary-active: #002d9c,
  button-primary-hover: #0050e6,
  button-secondary: #393939,
  button-secondary-active: #6f6f6f,
  button-secondary-hover: #474747,
  button-separator: #e0e0e0,
  button-tertiary: #0f62fe,
  button-tertiary-active: #002d9c,
  button-tertiary-hover: #0050e6,
  color-map: (
    yellow-30: #f1c21b,
    white-0: #ffffff
  ),
  notification-action-hover: #ffffff,
  notification-action-tertiary-inverse-active: #c6c6c6,
  notification-action-tertiary-inverse-hover: #f4f4f4,
  notification-action-tertiary-inverse-text: #161616,
  notification-action-tertiary-inverse-text-on-color-disabled: rgba(255, 255, 255, 0.25),
  notification-background-error: #fff1f1,
  notification-background-info: #edf5ff,
  notification-background-success: #defbe6,
  notification-background-warning: (
    yellow-30: #f1c21b,
    white-0: #ffffff
  ),
  tag-background-blue: #d0e2ff,
  tag-background-cool-gray: #dde1e6,
  tag-background-cyan: #bae6ff,
  tag-background-gray: #e0e0e0,
  tag-background-green: #a7f0ba,
  tag-background-magenta: #ffd6e8,
  tag-background-purple: #e8daff,
  tag-background-red: #ffd7d9,
  tag-background-teal: #9ef0f0,
  tag-background-warm-gray: #e5e0df,
  tag-border-blue: #78a9ff,
  tag-border-cool-gray: #a2a9b0,
  tag-border-cyan: #33b1ff,
  tag-border-gray: #a8a8a8,
  tag-border-green: #42be65,
  tag-border-magenta: #ff7eb6,
  tag-border-purple: #be95ff,
  tag-border-red: #ff8389,
  tag-border-teal: #08bdba,
  tag-border-warm-gray: #ada8a8,
  tag-color-blue: #002d9c,
  tag-color-cool-gray: #121619,
  tag-color-cyan: #003a6d,
  tag-color-gray: #161616,
  tag-color-green: #044317,
  tag-color-magenta: #740937,
  tag-color-purple: #491d8b,
  tag-color-red: #750e13,
  tag-color-teal: #004144,
  tag-color-warm-gray: #171414,
  tag-hover-blue: #b8d3ff,
  tag-hover-cool-gray: #cdd3da,
  tag-hover-cyan: #99daff,
  tag-hover-gray: #d1d1d1,
  tag-hover-green: #74e792,
  tag-hover-magenta: #ffbdda,
  tag-hover-purple: #dcc7ff,
  tag-hover-red: #ffc2c5,
  tag-hover-teal: #57e5e5,
  tag-hover-warm-gray: #d8d0cf
) !default;

$default: map-merge($default, $tokens);
@debug map-get($default, button-primary)
