@use "sass:map";
@use "default";
@use "@carbon/themes/scss/component-tokens" with (
  $button-danger-active: (white-theme: map-get(default.$default, button-danger-active)),
  $button-danger-hover: (white-theme: map-get(default.$default, button-danger-hover)),
  $button-danger-primary: (white-theme: map-get(default.$default, button-danger-primary)),
  $button-danger-secondary: (white-theme: map-get(default.$default, button-danger-secondary)),
  $button-disabled: (white-theme: map-get(default.$default, button-disabled)),
  $button-primary: (white-theme: map-get(default.$default, button-primary)),
  $button-primary-active: (white-theme: map-get(default.$default, button-primary-active)),
  $button-primary-hover: (white-theme: map-get(default.$default, button-primary-hover)),
  $button-secondary: (white-theme: map-get(default.$default, button-secondary)),
  $button-secondary-active: (white-theme: map-get(default.$default, button-secondary-active)),
  $button-secondary-hover: (white-theme: map-get(default.$default, button-secondary-hover)),
  $button-separator: (white-theme: map-get(default.$default, button-separator)),
  $button-tertiary: (white-theme: map-get(default.$default, button-tertiary)),
  $button-tertiary-active: (white-theme: map-get(default.$default, button-tertiary-active)),
  $button-tertiary-hover: (white-theme: map-get(default.$default, button-tertiary-hover)),
  $color-map: map-get(default.$default, color-map),
  $notification-action-hover: (white-theme: map-get(default.$default, notification-action-hover)),
  $notification-action-tertiary-inverse-active: (white-theme: map-get(default.$default, notification-action-tertiary-inverse-active)),
  $notification-action-tertiary-inverse-hover: (white-theme: map-get(default.$default, notification-action-tertiary-inverse-hover)),
  $notification-action-tertiary-inverse-text: (white-theme: map-get(default.$default, notification-action-tertiary-inverse-text)),
  $notification-action-tertiary-inverse-text-on-color-disabled: (white-theme: map-get(default.$default, notification-action-tertiary-inverse-text-on-color-disabled)),
  $notification-background-error: (white-theme: map-get(default.$default, notification-background-error)),
  $notification-background-info: (white-theme: map-get(default.$default, notification-background-info)),
  $notification-background-success: (white-theme: map-get(default.$default, notification-background-success)),
  $notification-background-warning: (white-theme: map-get(default.$default, notification-background-warning)),
  $tag-background-blue: (white-theme: map-get(default.$default, tag-background-blue)),
  $tag-background-cool-gray: (white-theme: map-get(default.$default, tag-background-cool-gray)),
  $tag-background-cyan: (white-theme: map-get(default.$default, tag-background-cyan)),
  $tag-background-gray: (white-theme: map-get(default.$default, tag-background-gray)),
  $tag-background-green: (white-theme: map-get(default.$default, tag-background-green)),
  $tag-background-magenta: (white-theme: map-get(default.$default, tag-background-magenta)),
  $tag-background-purple: (white-theme: map-get(default.$default, tag-background-purple)),
  $tag-background-red: (white-theme: map-get(default.$default, tag-background-red)),
  $tag-background-teal: (white-theme: map-get(default.$default, tag-background-teal)),
  $tag-background-warm-gray: (white-theme: map-get(default.$default, tag-background-warm-gray)),
  $tag-border-blue: (white-theme: map-get(default.$default, tag-border-blue)),
  $tag-border-cool-gray: (white-theme: map-get(default.$default, tag-border-cool-gray)),
  $tag-border-cyan: (white-theme: map-get(default.$default, tag-border-cyan)),
  $tag-border-gray: (white-theme: map-get(default.$default, tag-border-gray)),
  $tag-border-green: (white-theme: map-get(default.$default, tag-border-green)),
  $tag-border-magenta: (white-theme: map-get(default.$default, tag-border-magenta)),
  $tag-border-purple: (white-theme: map-get(default.$default, tag-border-purple)),
  $tag-border-red: (white-theme: map-get(default.$default, tag-border-red)),
  $tag-border-teal: (white-theme: map-get(default.$default, tag-border-teal)),
  $tag-border-warm-gray: (white-theme: map-get(default.$default, tag-border-warm-gray)),
  $tag-color-blue: (white-theme: map-get(default.$default, tag-color-blue)),
  $tag-color-cool-gray: (white-theme: map-get(default.$default, tag-color-cool-gray)),
  $tag-color-cyan: (white-theme: map-get(default.$default, tag-color-cyan)),
  $tag-color-gray: (white-theme: map-get(default.$default, tag-color-gray)),
  $tag-color-green: (white-theme: map-get(default.$default, tag-color-green)),
  $tag-color-magenta: (white-theme: map-get(default.$default, tag-color-magenta)),
  $tag-color-purple: (white-theme: map-get(default.$default, tag-color-purple)),
  $tag-color-red: (white-theme: map-get(default.$default, tag-color-red)),
  $tag-color-teal: (white-theme: map-get(default.$default, tag-color-teal)),
  $tag-color-warm-gray: (white-theme: map-get(default.$default, tag-color-warm-gray)),
  $tag-hover-blue: (white-theme: map-get(default.$default, tag-hover-blue)),
  $tag-hover-cool-gray: (white-theme: map-get(default.$default, tag-hover-cool-gray)),
  $tag-hover-cyan: (white-theme: map-get(default.$default, tag-hover-cyan)),
  $tag-hover-gray: (white-theme: map-get(default.$default, tag-hover-gray)),
  $tag-hover-green: (white-theme: map-get(default.$default, tag-hover-green)),
  $tag-hover-magenta: (white-theme: map-get(default.$default, tag-hover-magenta)),
  $tag-hover-purple: (white-theme: map-get(default.$default, tag-hover-purple)),
  $tag-hover-red: (white-theme: map-get(default.$default, tag-hover-red)),
  $tag-hover-teal: (white-theme: map-get(default.$default, tag-hover-teal)),
  $tag-hover-warm-gray: (white-theme: map-get(default.$default, tag-hover-warm-gray))
);